{% extends 'base.html' %}
{% block body %}
    <h2>{{ the_title }}</h2>
    <div class="main_entry"> 
        <form method="POST" action="/search4"> 
            <table>
                <p> Use this form to submit a search request:</p>
                <tr>
                    <td>Phrase:</td>
                    <td><input name="phrase" type="text" width="60"></td>
                </tr>
                <tr>
                    <td>Letters:</td>
                    <td><input name="letters" type="text" value="aeiou"></td>
                </tr>
            </table>
            <p>When you are ready, click the button below</p>
            <p><input value="Do it!" type="submit"> </p>
        </form>
    </div>
{% endblock body %}

